{% extends 'bugs/base.html' %}
{% block content %}
<!--User dashboard-->
<style>
	#recent {
		background-color: #89d4cf;
		background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
		padding-left: 240px;
	}
	#ticketAssigned {
		padding-left: 400px;
	}
	#buttondash {
		background-color: #000000;
		background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
		color: white;
		border: none;
		font-weight: bold;
	}
	#ticketAssigned {
		background-color: #89d4cf;
		background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
		padding-left: 380px;
	}
	#ticketSubmit {
		background-color: #89d4cf;
		background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
		text-align:center;
	}
</style>

{% include 'bugs/status.html' %}

<div class="row">
	<div class="col-md-5">
		<h5 id="recent">Ticket Updates</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary btn-sm btn-block" id="buttondash" href="/updateTicket">Create Update</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Employee</th>
					<th>Ticket</th>
					<th>Update</th>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5 id="ticketSubmit">My Submitted Tickets</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" id = "buttondash" href="/createTicket">Create Ticket</a>
			<table class="table table-sm">
				<tr>
					<th>Title</th>
					<th>Date Created</th>
					<th>Category</th>
					<th>Status</th>
					<th>Urgency</th>
					<th>Assigned To</th>
					<th>Created By</th>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<br />
		<h5 id="ticketAssigned">My Assigned Tickets</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary btn-sm btn-block" id="buttondash" href="/updateTicket">Update Ticket</a>
			<table class="table table-sm">
				<tr>
					<th>Title</th>
					<th>Date Created</th>
					<th>Category</th>
					<th>Status</th>
					<th>Urgency</th>
					<th>Assigned To</th>
					<th>Created By</th>
				</tr>
				{% for ticket in tickets %}
				<tr>
					<td>{{ticket.title}}</td>
					<td>Date Created</td>
					<td>Category</td>
					<td>Status</td>
					<td>Urgency</td>
					<td>Assigned To</td>
					<td>Created By</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}