{% extends 'bugs/base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <section class="header">
    <div class="intro">
      <h2>Welcome to BugTracker</h2>
      <p>Our team at Palm Technologies is excited to introduce our new BugTracker software that will allow
        you and your team of engineers to keep track of bugs in your engineering projects.</p>
      <h3><i class="fas fa-smile"></i>&nbsp;Simple</h3>
      <p>Simple and easy to use, BugTracker allows you to simply create a ticket of your bug and assign it to a member of your team to keep track of. There are no complicated menus or terminology your team must learn.</p>
      <h3>
        <span class="fa-stack">
          <i class="fas fa-weight-hanging"></i>
          <i class="fas fa-ban fa-stack-2x" style="color:Tomato"></i>
        </span>&nbsp;Lightweight</h3>
      <p>Additionally, BugTracker is light on server hardware, so it can run alongside other software your team needs, saving your team resources.</p>
      <a class="btn btn-success btn-lg btn-block buttondash" href="/login"><i class="fas fa-flag-checkered"></i>&nbsp;Get Started</a>
    </div>
  </section>
</div>
{% endblock %}
