{% extends 'bugs/base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <section class="header">
    <div class="intro">
      <h2>Welcome to BugTracker by Palm Technologies</h2>
      <p>
        Our team at Palm Technlogies is excited to introduce our new BugTracker software that will allow
        you and your team of engineers to keep track of bugs in your engineering projects. Simple and easy to use,
        BugTracker allows you to simply create a ticket of your bug and assign it to a member of your team to keep track of.
      </p>
    </div>
  </section>
</div>
{% endblock %}