{% extends 'bugs/base.html' %}
{% load static %}
{% block content %}
<!--Antonio: login button leads to login system-->
<div class="row centered" style="max-width: 400px;padding-top:20px">
    <h2>Log into BugTracker</h2>
</div>
<div class="row centered" style="max-width: 350px">
    <form method="GET" action="/login_user">
        {% csrf_token %}
        <table>
        {{form}}
        <tr><td><hr></td><td><hr></td></tr>
        <tr><td></td><td><button type="submit" class="btn btn-primary btn-block">Log in</button></td></tr>
        <tr><td><hr></td><td><hr></td></tr>
        <tr><td></td><td><a class="btn btn-success btn-block" href="/register" role="button">Register</a></td></tr>
        </table>
    </form>
</div>
{% endblock %}