<!--Status of tickets on the user's dashboard-->
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Tickets</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{totalTicketsCount}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Tickets Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pendingTicketsCount}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Tickets In Progress</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{inprogressTicketsCount}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>