{% extends 'bugs/base.html' %}
<!--Displays ticket tables with information from db-->
{% block content %}
{% load static %}
{% load bugs_tags %}
<br>
<style>
  .card card-body {
    background: transparent;
  }
  .label {
    text-align: center;
    font-size: 24px;
  }
  .deletebutton {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
    display: inline-block;
    color: white;
    padding: 12px 34px;
    font-size: 24px;
    margin: 0;
    position: absolute;
    top: 680px;
    left: 760px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
  }
</style>

<div class="row centered" style="max-width: 100px;padding-top:20px">
    <h2>Tickets</h2>
</div>

<div class="row centered" style="max-width: 800px;padding-top:20px">
  <form action="/search_tickets" method="GET">
    <div class="form-group row">
      <div class="col-md">
        <div class="input-group">
          <input type="search" class="form-control rounded" placeholder="search" aria-label="Search" aria-describedby="search-addon" name="id" />
          <button type="submit" class="btn btn-primary">Search by ID</button>
        </div>
      </div>
      <div class="col-md">
        <div class="input-group">
          <input type="search" class="form-control rounded" placeholder="search" aria-label="Search" aria-describedby="search-addon" name="title" />
          <button type="submit" class="btn btn-primary">Search by title</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <span class="label">All Tickets</span>
      </div>
      <div class="card-body">
        <a class="btn btn-success btn-md btn-block buttondash" href="/createTicket">Create Ticket</a>
        <table class="table">
          <tr>
            <th>Ticket IDs</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Urgency</th>
            <th>Date Created</th>
            <th>Assigned To</th>
            <th>Created By</th>
          </tr>
          {% for ticket in tickets %}
            <tr>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.title}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.timestamp}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.category}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.status}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}" class="text-{{ticket.urgency|toBS}}">{{ticket.urgency}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.createdBy}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.assignedTo}}</a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-top:20px">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <span class="label">My Submitted Tickets</span>
      </div>
      <div class="card-body">
        <table class="table">
          <tr>
            <th>Ticket IDs</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Urgency</th>
            <th>Date Created</th>
            <th>Assigned To</th>
            <th>Created By</th>
          </tr>
          {% for ticket in createdTickets %}
            <tr>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.title}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.timestamp}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.category}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.status}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}" class="text-{{ticket.urgency|toBS}}">{{ticket.urgency}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.createdBy}}</a></td>
              <td><a href="/ticket/details/{{ticket.ticketId}}">{{ticket.assignedTo}}</a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}