{% extends 'bugs/base.html' %}
{% load static %}
{% block content %}
<div class="row centered" style="max-width: 400px;padding-top:20px">
    <h2>{{ticket.title}}</h2>
    <h4>Ticket Details</h4>
</div>
<div class="row centered" style="max-width: 500px">
    <form action="#" method="GET">
        <div class="form-group row">
            <label for="desc">Description</label>
            <textarea class="form-control" id="desc" rows="6" cols="60" name="description">{{ticket.description}}</textarea>
        </div>
        <div class="form-group row">
            <label for="status">Status</label>
            <select id="status" name="status" class="custom-select">
              <option value="">---------</option>
              <option value="Created">Created</option>
              <option value="In Progress">In Progress</option>
              <option value="Completed">Completed</option>
              <option value="Void">Void</option>
            </select>
        </div>
        <div class="form-group row">
            <label for="cat">Category</label>
            <input class="form-control" id="cat" name="category" value="{{ticket.category}}">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Update Details</button>
    </form>
</div>

<div class="row centered" style="max-width: 500px">
    <button type="button" class="btn btn-danger btn-block" id="delete-btn">Delete Ticket</button>
</div>

<form action="/ticket/delete/{{ticket.ticketId}}" method="GET" id="delete-form"></form>

<script>
document.querySelector("#delete-btn").onclick = function() {
if (confirm("Are you sure you want to delete this ticket?")) {
$("#delete-form").submit();
}
};
</script>
{% endblock %}