{% extends 'bugs/main.html' %}
<!--Displays ticket tables with information from db-->
{% block content %}
{% include 'bugs/navbar.html' %}
<br>
<style>
    .tickets h1 {
        color: black;
        text-align: center;
        padding: 20px;
        border: 2px solid black;
    }

    .card card-body {
        background: transparent;
    }

    .label {
        text-align: center;
        font-size: 24px;
    }

    .deletebutton {
        background-color: #000000;
        background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
        display: inline-block;
        color: white;
        padding: 12px 34px;
        font-size: 24px;
        margin: 0;
        position: absolute;
        top: 680px;
        left: 760px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 8px;
    }

    #search1 {
        position: absolute;
        top: -70px;
        left: 40px;
        width: 420px;
    }

    #search2 {
        position: absolute;
        top: -70px;
        left: 800px;
        width: 420px;
    }
    #button1 {
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
        color: white;
        border: none;
        font-weight: bold;
    }

    #table1 {
        background-color: #b8c6db;
        background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    }

</style>
<br />
<br />
<br />
<br />

<!--STILL NEEDS TO BE DONE. CONNECT TO DB TO SHOW CONTENT ON TABLES HERE.-->
<div class="tickets">
    <h1>Tickets</h1>
</div>
<br />
<br />
<br />



<div class="row">
    <div class="col-md">
        <div class="input-group" id="search1">
            <input type="search" class="form-control rounded" placeholder="search for ticket by ticket ID" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" id="button1">Search by ID</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="input-group" id="search2">
            <input type="search" class="form-control rounded" placeholder="search for ticket by ticket title" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" id="button1">Search by title</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <div class="card card-body" id="table1">
            <a class="label ">All Tickets</a>
            <table class="table">
                <tr>
                    <th>Ticket IDs</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Urgency</th>
                    <th>Date Created</th>
                    <th>Assigned To</th>
                    <th>Created By</th>
                </tr>

            </table>
        </div>
    </div>

</div>
<br />
<br />
<div class="row">
    <div class="col-md">
        <div class="card card-body"id="table1">
            <a class="label ">My Tickets Submitted</a>
            <table class="table">
                <tr>
                    <th>Ticket IDs</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Urgency</th>
                    <th>Date Created</th>
                    <th>Assigned To</th>
                    <th>Created By</th>
                </tr>

            </table>
        </div>

    </div>




    <a href="\deleteTicket" class="deletebutton"> Delete A Ticket </a>
</div>


        {% endblock %}
