{% extends 'bugs/main.html' %}
{% load static %}
{% block content %}

{% if form.errors %}
<!--Antonio: Register a new user into the system with this page-->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    An error occured with the form.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endif %}
<style>
    h1 {
        color: black;
        text-align: center;
        padding: 20px;
        font-size: 60px;
        border: none;
    }

    h2 {
        color: black;
        text-align: center;
        padding: 20px;
        font-size: 44px;
    }

    .gobackbutton {
        display: inline-block;
        color: black;
        border: 1px solid black;
        background: transparent;
        padding: 12px 34px;
        font-size: 24px;
        margin: 0;
        position: absolute;
        top: 90%;
        left: 40%;
        cursor: pointer;
    }

    .moveimage {
        top: -6%;
        left: -4%;
        position: absolute;
    }
</style>

<div class="shadow p-4 mb-5 bg-body rounded">

    <h1>
        Welcome to Bug Tracker!
    </h1>

    <h2>Register New User </h2>
    <img class="moveimage" img src="{% static 'bugs/images/palmtechLogoSmall.png' %}">
    <br />
    <br />


    <form action="{% url 'register_user' %}" method=POST>
        {% csrf_token %}
        <br /><br /><br /><br />
        {{form.as_p}}

        <br /><br /><br /><br />
        <input type="submit"
               valie="Submit" c;ass="btn btn-secondary" />

    </form>
    <a href="\main" class="gobackbutton"> Go back to home page </a>
</div>
<br />
<br />
    {% endblock %}